@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.menu {
    background-color: #F3D7CA;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .menu-icon {
        color: #E6A4B4;
        font-size: 3rem;
        margin: 30px;
    }
}

.navbar {
    padding: 20px;
    background-color: #F3D7CA;
    color: #de6483;
    height: 10vh;
    border-bottom: 1px solid #de6483;
}

.sidebar {
    width: 15vw;
    background-color: #E6A4B4;
    border-right: 1px solid #e25e7f;
}

.user-details {
    padding: 20px;
    color: #de6483;
}